.nos{
    width: 15px;
    height: 20px;
}
@font-face {
    font-family: 'winterbeauty';
    src: url('./font/winterbeauty-Script.otf') format('truetype');
  }
  
  .cadastro {
    font-family: 'winterbeauty';
    src: url('./font/winterbeauty-Script.otf') format('truetype');
  }
  }
