@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}

.color-default {
  background-color: #feefce;
}

h1 {
  color: black;
}

.logo-navbar {
  width: 10rem;
  height: 10rem;
}

.carousel-inner {
  width: auto;
  height: 80%;
}
.novidades{
  text-align: center;
  color: #6CA8A1;
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');

// timing functions
$bounced-timing: cubic-bezier(.64,
.57,
.47,
1.29);
$back-timing: cubic-bezier(0.175,
0.885,
0.320,
1.275);
$ease-out-quint:cubic-bezier(0.230,
1.000,
0.320,
1.000);
$ease-in-quint:cubic-bezier(0.755,
0.050,
0.855,
0.060);
$time-fast: 0.1s;
$time-mid: 0.6s;
$font: 'Prata';
$bg-button: #233142;
$color-text: #ccc; //lighten($bg-button, 20%);
$bg-body: #FD9191;
body {
  background-color: $bg-body;
  font-size: 62.5%;
}

// display only
button {
  position: absolute;
  left: 50%;
  background-color: $bg-button;
  border: none;
  border-radius: 10px;
  color: $color-text;
  font-size: 1.5rem;
  font-family: $font;
  letter-spacing: 2px;
}

// description text
.desc {
  text-align:center;
  font-size: 1rem;
  color:lighten($color-text, 10%);
  font-family: 'Open Sans';
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate3d(-50%, -35%, 0);
}

// positioning button
#button1 {
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.button {
  display: block;
  width: 340px;
  height: 80px;
  cursor: pointer;
  transition: box-shadow $time-fast linear;
  &:hover {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}


}

.carousel-item {
  border-radius: 2.5%;
  height: 50rem;
}

.fonte-alterada {
  font-family: winterbeauty;
}

.row {
  height: 60rem;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1000px 400px;

}

.lado {
  width: 600px;
  margin-top: 30px;

}

.cima {
  margin-left: 150px;
}

.app {
  height: 400vh;
}

.sobre {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
}

.sobre2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
}

.botao {
  background-color: #FFB379;
  width: 19rem;
  border-radius: 500px;
  border: none;
  height: 36px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.botao1 {
  background-color: #F79A71;
  width: 19rem;
  border-radius: 500px;
  border: none;
  height: 36px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.botao1:hover {
  background-color: rgb(75, 73, 73);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao:hover {
  background-color: rgb(75, 73, 73);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.botao:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;

}

.botao {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

.botao1 {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.botao:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botao1 {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botao::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
.teste {
  text-align: right;
}

.teste_1 {
  width: 120%;
  height: 20%;
}

.container {

  display: flex;
  align-items: center;
  justify-content: center;
}

.container div {
  width: 1500px;
  height: 800px;

}

.loi {
  text-align: left;
}

.loi {
  text-align: left;
}

.tamanho_footer {
  height: 90px;
  width: 30px;

}

.footer_logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  text-align: left;
}

.texto_footer {
  text-align: justify;
  font-size: 15px;
  align-items: auto;
  margin-right: 30px;
}

.gridtr {
  display: grid;
  grid-template-columns: 100px 400px;

}


.container_texto {
  text-align: justify;
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.text-center {
  height: 210px;
  width: auto;
}

.a {
  text-decoration-color: white;
}

.jumbotron {
  margin: 30px;
  color: #6CA8A1;
}
.jumbotron a{
  color: #6CA8A1;
}
.display-4{
  width: 15px;
}
.lead{
  text-align: center;
}
.btn btn-light{
 justify-content: center;
}