@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
  }
  
  .color-default {
    background-color: #feefce;
  }
  
  h1 {
    color: black;
  }
  
  .logo-navbar {
    width: 10rem;
    height: 5rem;
  }
.card1{
    float: left;
    width: 20rem;
    height: 5rem;
    margin-left: 3%;

}
@media only screen and (min-width: 769px) {

.card1{
    float: left;
    width: 20rem;
    height: 5rem;
    margin-left: 0%;
    margin-right: 6%;    
}

};
