@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
  }
  
  .color-default {
    background-color: #feefce;
  }
  
  h1 {
    color: black;
  }
  
  .logo-navbar {
    width: 10rem;
    height: 10rem;
  }
  
  .carousel-inner {
    width: auto;
    height: 80%;
  }
  
  .carousel-item {
    border-radius: 2.5%;
    height: 50rem;
  }
  
  .fonte-alterada {
    font-family: winterbeauty;
  }
.teste{
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 16px;
}
.siteTitle {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
    align-items: center;
}
@media (min-width: 768px) {
    .siteTitle {
        font-size: 60px;
   }
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}
.card {
    height: 400px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 4px solid #b0215e;
    margin-bottom: 20px;
    background-image: url('../img/carrosel.png');
    background-size: cover;
}
@media (min-width: 768px) {
    .card {
        height: 500px;
   }
}
.inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 40px;
}
@media (min-width: 768px) {
    .inner {
        width: 50%;
        height: 100%;
   }
}
.title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;
    
}
@media (min-width: 768px) {
    .title {
        font-size: 30px;
   }
}

.card2 {
    background-image: url('../img/carrossel-2.png');
}
.card3 {
    background-image: url('../img/carrossel-3.png');
}
footer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.footerLink {
    margin-right: 12px;
    color: #181818;
    text-decoration: none;
    position: relative;
}
.footerLink:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgba(176, 33, 94, 0.3);
    left: 0;
    bottom: 0;
}
.footerLink:last-child {
    margin-right: 0;
}

/*card*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
.loi{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lol {
  box-sizing: border-box;
}
.cards {
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c" "a a d d";
  width: 80%;
}
.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card:last-child {
  margin-bottom: 0;
}
.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}
.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}