@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}

.color-default {
  background-color: #feefce;
}
h1 {
  color: black;
}
.logo-navbar {
  width: 10rem;
  height: 10rem;
}
.grid {
  display: grid;
  grid-template-columns: 900px 400px;
  margin-top: 50px;
}
.lado {
  width: 600px;
}
.cima {
  margin-left: 300px;
}
.fonte-alterada {
  font-family: winterbeauty;
}
.coluna-33 {
  margin: 10px;
}
.linha {
  display: flex;
  flex-flow: row wrap;
  margin-left: 290px;
}